NEO4J_HOST=bolt://172.30.213.52:10000
NEO4J_USER=neo4j
NEO4J_PASS=password

SSH_USER=root
SSH_PASSWORD=password

ATLAS_URL = http://172.30.215.141:31000/api/atlas/v2,http://172.30.215.142:31000/api/atlas/v2
ATLAS_USERNAME = atlasadmin
ATLAS_PASSWORD = password

SMTP_HOST=SRVEXGPSA01P.petersen.corp
SMTP_PORT=587
SMTP_USERNAME=petersen\operativagobdato
SMTP_PASSWORD=password
SMTP_TLS=false
EMAIL_FROM=noreply@petersen.corp
EMAIL_TO=recipient@example.com
